@model WebApplication.ViewModels.InfoViewModel<Motherboard>
@{
    ViewData["Title"] = "Info";
    Layout = "_StartPage";
}

<div class="container dark-grey-text mt-5">

<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4" style="margin: auto; text-align: center;">
        @if (Model.Product.Product.IsIndicatedRating())
        {
            <div class="@string.Format($"rating-wrapper value-color{Math.Round(Model.Product.Product.GetAverageRating())}")"
                 title="Количество голосов: @Model.Product.Product.NumberOfRatings()"
                 style="float: left; margin: 5px;">
                <div class="rating">
                    <span class="value">@Math.Round(Model.Product.Product.GetAverageRating(), 1)</span>
                </div>
            </div>
        }
        else
        {
            <div class="@string.Format($"rating-wrapper value-color{Math.Round(Model.Product.Product.GetAverageRating())}")"
                 title="Пока никто не паставли рейтинг, станьте первым"
                 style="float: left; margin: 5px;">
                <div class="rating">
                    <span class="value">?</span>
                </div>
            </div>
        }
        <img src="@Model.Product.Product.ImageUrl" class="img-fluid w-75" alt="">

    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

            <div class="mb-3">
                <a href="">
                    <span class="badge purple mr-1">@Model.Product.Product.Category.Name</span>
                </a>
                <a href="">
                    <span class="badge blue mr-1">New</span>
                </a>
            </div>

            <p class="lead">
                <span>$@Model.Product.Product.Price</span>
            </p>

            <p class="lead font-weight-bold">@Model.Product.Product.Name</p>

            <p>
                Производитель: @Model.Product.Product.Manufacturer.Name
            </p>
            <p>
                Дата выхода на рынок: @Model.Product.Product.DateAdded
            </p>

            <p>
                <form class="d-flex justify-content-left">
                    <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                    <button class="btn btn-red  btn-md my-0 p" type="submit">
                        Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </button>
                </form>
            </p>


            @if (User.Identity.IsAuthenticated)
            {
                @if (Model.Product.Product.Ratings.All(x => x.User.UserName != User.Identity.Name))
                {
                    <p>
                        <form class="d-flex justify-content-left" asp-controller="ProductGeneral" asp-action="Rate">
                            <input type="number" min="1" max="10" value="1" aria-label="Search" name="rating" class="form-control" style="width: 100px" />
                            <input type="hidden" value="@Model.Product.Id" name="id" />
                            <button class="btn btn-primary btn-md my-0 p" type="submit">
                                Поставить оценку
                            </button>
                        </form>
                    </p>
                }
                else
                {
                    <p>
                        <form class="d-flex justify-content-left" asp-controller="ProductGeneral" asp-action="ChangeRating">
                            <input type="number" min="1" max="10"
                                   value="@Model.Product.Product.Ratings.FirstOrDefault(x => x.User.UserName == User.Identity.Name)?.Value"
                                   aria-label="Search" name="rating" class="form-control" style="width: 100px" />
                            <input type="hidden" value="@Model.Product.Id" name="id" />
                            <button class="btn btn-primary btn-md my-0 p" type="submit">
                                Изменить оценку
                            </button>
                        </form>
                    </p>
                }

            }


        </div>
        <!--Content-->

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->

<hr>
<p class="lead font-weight-bold">Технические характеристики</p>
<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Тип сокета</td>
            <td>@Model.Product.SocketType.Type</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Чипсет</td>
            <td>@Model.Product.ChipSet</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Форм-фактор</td>
            <td>@Model.Product.FormFactor</td>

        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Количество слотов оперативной памяти</td>
            <td>@Model.Product.MemorySlotsNumber</td>
        </tr>
    </tbody>
</table>
<hr>
<p class="lead font-weight-bold">Интерфейсы</p>

<table class="table table-hover">
    <thead>
    <tr scope="row">
        <th scope="col">#</th>
        <th scope="col">Интерфейс</th>
        <th scope="col">Количество</th>
    </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Product.MotherboardInterfaces.Count; i++)
        {
            <tr scope="row">
                <th>@i</th>
                <td>@Model.Product.MotherboardInterfaces[i].Interface.Name</td>
                <td>@Model.Product.MotherboardInterfaces[i].Quantity</td>
            </tr>
        }
    </tbody>
</table>
    

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

            <h4 class="my-4 h4">Рекомендуемые товары</h4>

        </div>
        <!--Grid column-->

    </div>
<section class="text-center mb-4">
    @foreach (var product in Model.PopularGoods)
    {
        <div class="card" style="width: 20%">

            <!-- Card image -->
            <img class="card-img-top" src="@product.Product.ImageUrl" alt="Card image cap">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h6 class="card-title">
                    <a>@product.Product.Name</a>
                </h6>

                <!-- Text -->
                <p class="card-text">

                    Чипсет: @product.ChipSet, количество слотов памяти  @product.MemorySlotsNumber,
                    форм фактор: @product.FormFactor,
                    производитель: @product.Product.Manufacturer.Name

                    <h4 class="font-weight-bold red-text">
                        <strong>
                            @Math.Round(product.Product.Price, 2)$
                        </strong>
                    </h4>

                    @if (product.Product.IsAvailable())
                    {
                        <p>В наличии</p>
                    }
                    else
                    {
                        <p>Нет в наличии</p>
                    }
                </p>
                <p>
                    <a href="/Motherboard/Info?id=@product.Product.Id">Подробнее...</a>
                </p>
                <a id="@product.Id" class="btn btn-red tocart">В корзину</a>
            </div>
        </div>
    }

</section>

</div>


