@model WebApplication.ViewModels.ChangeRoleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminPanel";
}



<h4>Изменение ролей для пользователя @Model.UserEmail</h4>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            <div class="form-check">
                <input  class="form-check-input" type="checkbox" name="roles" value="@role.Name"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            </div>
         }
     </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
</form>



