@model WebApplication.ViewModels.GraphicsCardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_StartPage";
}

<div class="card text-white bg-danger mb-3" style="width: 100%; margin: 0;">
    <div class="card-header">
        <h3>Новинки</h3>
    </div>
    <div class="card-body text-center align-content-center">
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Indicators-->
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="d-flex align-items-center">
                        <div class="justify-content-center">
                            @for (var i = 0; i < 4 && i < Model.NewItems.Count; i++)
                            {
                                <div class="card h-100" style="width: 20%">

                                    <!-- Card image -->
                                    <img class="card-img-top" src="@Model.NewItems[i].Product.ImageUrl" alt="Card image cap">

                                    <!-- Card content -->
                                    <div class="card-body">

                                        <!-- Title -->
                                        <h6 class="card-title">
                                            <a style="color: black">@Model.NewItems[i].Product.Name</a>
                                        </h6>

                                        <!-- Text -->
                                        <p class="card-text">
                                            Видеопамять : @Model.NewItems[i].VideoMemory GB,
                                            частота памяти: @Model.NewItems[i].MemoryFrequency МГц, поддержка DirectX  @Model.NewItems[i].DirectXSupport,
                                            производитель: @Model.NewItems[i].Product.Manufacturer
                                            <h4 class="font-weight-bold red-text">
                                                <strong>
                                                    @Math.Round(Model.NewItems[i].Product.Price, 2)$
                                                </strong>
                                            </h4>
                                        </p>
                                        <!-- Button -->
                                        <p>
                                            <a href="/GraphicsCard/Info?id=@Model.NewItems[i].Product.Id">Подробнее...</a>
                                        </p>
                                        <a id="@Model.NewItems[i].Product.Id" class="btn btn-red tocart">В корзину</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>


                @for (var i = 4; i < Model.NewItems.Count; i += 4)
                {
                    <div class="carousel-item">
                        <div class="d-flex align-items-center">
                            <div class=" justify-content-center">
                                @for (var j = i; j < i + 4 && j < Model.NewItems.Count; j++)
                                {
                                    <div class="card h-100" style="width: 20%">

                                        <!-- Card image -->
                                        <img class="card-img-top" src="@Model.NewItems[j].Product.ImageUrl" alt="Card image cap">

                                        <!-- Card content -->
                                        <div class="card-body">

                                            <!-- Title -->
                                            <h6 class="card-title">
                                                <a style="color: black">@Model.NewItems[j].Product.Name</a>
                                            </h6>

                                            <!-- Text -->
                                            <p class="card-text">
                                                Видеопамять : @Model.NewItems[j].VideoMemory GB,
                                                частота памяти: @Model.NewItems[j].MemoryFrequency МГц, поддержка DirectX  @Model.NewItems[j].DirectXSupport,
                                                производитель: @Model.NewItems[j].Product.Manufacturer
                                                <h4 class="font-weight-bold red-text">
                                                    <strong>
                                                        @Math.Round(Model.NewItems[j].Product.Price, 2)$
                                                    </strong>
                                                </h4>
                                            </p>
                                            <!-- Button -->
                                            <p>
                                                <a href="#">Подробнее...</a>
                                            </p>
                                            <a href="/RaGraphicsCardm/Info?id=@Model.NewItems[i].Product.Id" class="btn btn-red tocart">В корзину</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }


            </div>
            <!--/.Slides-->
            <div style="padding: 40px">
                <ol class="carousel-indicators" style="padding: 40px">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    @for (var i = 1; i < Model.NewItems.Count / 4; i++)
                    {
                        <li data-target="#multi-item-example" data-slide-to="@i"></li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="text-center mb-4">
    @foreach (var product in Model.GraphicsCards)
    {
        <div class="card" style="width: 20%">

            <!-- Card image -->
            <img class="card-img-top" src="@product.Product.ImageUrl" alt="Card image cap">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h6 class="card-title">
                    <a>@product.Product.Name</a>
                </h6>

                <!-- Text -->
                <p class="card-text">
                    Видеопамять : @product.VideoMemory GB,
                    частота памяти: @product.MemoryFrequency МГц, поддержка DirectX  @product.DirectXSupport,
                    производитель: @product.Product.Manufacturer

                    <h4 class="font-weight-bold red-text">
                        <strong>
                            @Math.Round(product.Product.Price, 2)$
                        </strong>
                    </h4>

                    @if (product.Product.IsAvailable())
                    {
            <p>В наличии</p>
                }
                else
                {
                    <p>Нет в наличии</p>
                }
                    </p>
                    <p>
                        <a href="/GraphicsCard/Info?id=@product.Product.Id">Подробнее...</a>
                    </p>
                    <a id="@product.Id" class="btn btn-red tocart">В корзину</a>
                </div>
            </div>
        }

</section>

<nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   asp-controller="GraphicsCard"
                   class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a href="#"
                   class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        @{
            var index = 1;
            if (Model.PageViewModel.PageNumber > 3)
            {
                index = Model.PageViewModel.PageNumber - 3;
            }

            for (var i = index; i < Model.PageViewModel.PageNumber; i++)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-page="@i"
                       asp-controller="GraphicsCard"
                       class="page-link">
                        @i
                    </a>
                </li>
            }
        }
        <li class="page-item active">
            <a class="page-link" asp-action="Index"
               asp-route-page="@Model.PageViewModel.PageNumber"
               asp-controller="GraphicsCard">
                @Model.PageViewModel.PageNumber
                <span class="sr-only">(current)</span>
            </a>
        </li>
        @{
            var indexNext = Model.PageViewModel.PageNumber + 1;

            for (var i = indexNext; i <= Model.PageViewModel.TotalPages && i < indexNext + 3; i++)
            {
                <li class="page-item">
                    <a asp-action="Index"
                       asp-route-page="@i"
                       asp-controller="GraphicsCard"
                       class="page-link">
                        @i
                    </a>
                </li>
            }
        }

        @if (Model.PageViewModel.HasNextPage)
        {
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   asp-controller="GraphicsCard"
                   class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>

<div class="ard text-white bg-dark" style="width: 100%; margin: 0;">
    <div class="card-header">
        <h3>Рекомендуемые товары</h3>
    </div>
    <div class="card-body text-center align-content-center">
        <!--Carousel Wrapper-->
        <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Indicators-->
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="d-flex align-items-center">
                        <div class="justify-content-center">
                            @for (var i = 0; i < 4 && i < Model.NewItems.Count; i++)
                            {
                                <div class="card h-100" style="width: 20%">

                                    <!-- Card image -->
                                    <img class="card-img-top" src="@Model.NewItems[i].Product.ImageUrl" alt="Card image cap">

                                    <!-- Card content -->
                                    <div class="card-body">

                                        <!-- Title -->
                                        <h6 class="card-title">
                                            <a style="color: black">@Model.NewItems[i].Product.Name</a>
                                        </h6>

                                        <!-- Text -->
                                        <p class="card-text">
                                            Видеопамять : @Model.NewItems[i].VideoMemory GB,
                                            частота памяти: @Model.NewItems[i].MemoryFrequency МГц, поддержка DirectX  @Model.NewItems[i].DirectXSupport,
                                            производитель: @Model.NewItems[i].Product.Manufacturer
                                            <h4 class="font-weight-bold red-text">
                                                <strong>
                                                    @Math.Round(Model.NewItems[i].Product.Price, 2)$
                                                </strong>
                                            </h4>
                                        </p>
                                        <!-- Button -->
                                        <p>
                                            <a href="/GraphicsCard/Info?id=@Model.NewItems[i].Product.Id">Подробнее...</a>
                                        </p>
                                        <a id="@Model.NewItems[i].Product.Id" class="btn btn-red tocart">В корзину</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>


                @for (var i = 4; i < Model.NewItems.Count; i += 4)
                {
                    <div class="carousel-item">
                        <div class="d-flex align-items-center">
                            <div class=" justify-content-center">
                                @for (var j = i; j < i + 4 && j < Model.NewItems.Count; j++)
                                {
                                    <div class="card h-100" style="width: 20%">

                                        <!-- Card image -->
                                        <img class="card-img-top" src="@Model.NewItems[j].Product.ImageUrl" alt="Card image cap">

                                        <!-- Card content -->
                                        <div class="card-body">

                                            <!-- Title -->
                                            <h6 class="card-title">
                                                <a style="color: black">@Model.NewItems[j].Product.Name</a>
                                            </h6>

                                            <!-- Text -->
                                            <p class="card-text">
                                                Видеопамять : @Model.NewItems[j].VideoMemory GB,
                                                частота памяти: @Model.NewItems[j].MemoryFrequency МГц, поддержка DirectX  @Model.NewItems[j].DirectXSupport,
                                                производитель: @Model.NewItems[j].Product.Manufacturer
                                                <h4 class="font-weight-bold red-text">
                                                    <strong>
                                                        @Math.Round(Model.NewItems[j].Product.Price, 2)$
                                                    </strong>
                                                </h4>
                                            </p>
                                            <!-- Button -->
                                            <p>
                                                <a href="/GraphicsCard/Info?id=@Model.NewItems[i].Product.Id">Подробнее...</a>
                                            </p>
                                            <a id="@Model.NewItems[j].Product.Id" class="btn btn-red tocart">В корзину</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }


            </div>
            <!--/.Slides-->
            <div style="padding: 40px">
                <ol class="carousel-indicators" style="padding: 40px">
                    <li data-target="#multi-item-example2" data-slide-to="0" class="active"></li>
                    @for (var i = 1; i < Model.NewItems.Count / 4; i++)
                    {
                        <li data-target="#multi-item-example2" data-slide-to="@i"></li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>

