@using Microsoft.AspNetCore.Identity
@model WebApplication.ViewModels.RamInfoViewModel
@{
    ViewData["Title"] = "Info";
    Layout = "_StartPage";
}

    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4" style="margin: auto; text-align: center;">
               
                <img src="@Model.Ram.Product.ImageUrl" class="img-fluid w-75" alt="">

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3">
                        <a href="">
                            <span class="badge purple mr-1">@Model.Ram.Product.Category.Name</span>
                        </a>
                        <a href="">
                            <span class="badge blue mr-1">New</span>
                        </a>
                    </div>

                    <p class="lead">
                        <span>$@Model.Ram.Product.Price</span>
                    </p>

                    <p class="lead font-weight-bold">@Model.Ram.Product.Name</p>

                    <p>
                        Производитель: @Model.Ram.Product.Manufacturer.Name
                    </p>
                    <p>
                        Дата выхода на рынок: @Model.Ram.Product.DateAdded
                    </p>
                    <p>
                        @if (Model.Ram.Product.IsIndicatedRating())
                        {

                            <i class="far fa-star" style="padding: 5px 5px; margin: 5px 0px;" title="Количество голосов: @Model.Ram.Product.NumberOfRatings()">@Math.Round(Model.Ram.Product.GetAverageRating(), 1)</i>
                        }
                        else
                        {
                            <i class="far fa-star p-1" style="padding: 5px 5px; margin: 5px 0px;" title="Количество голосов: 0">?</i>
                        }

                        <i class="far fa-comment p-1 m-1" style="padding: 5px 5px; margin: 5px 0px;" title="Количество отзывов">@Model.Ram.Product.GetCountReviews()</i>

                    </p>
                    <p>
                        <form class="d-flex justify-content-left">
                            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                            <button class="btn btn-red  btn-md my-0 p" type="submit">
                                Add to cart
                                <i class="fas fa-shopping-cart ml-1"></i>
                            </button>
                        </form>
                    </p>


                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (Model.Ram.Product.Ratings.All(x => x.User.UserName != User.Identity.Name))
                        {
                            <p>
                                <form class="d-flex justify-content-left" asp-controller="ProductGeneral" asp-action="Rate">
                                    <input type="number" min="1" max="10" value="1" aria-label="Search" name="rating" class="form-control" style="width: 100px" />
                                    <input type="hidden" value="@Model.Ram.Id" name="id" />
                                    <button class="btn btn-primary btn-md my-0 p" type="submit">
                                        Поставить оценку
                                    </button>
                                </form>
                            </p>
                        }
                        else
                        {
                            <p>
                                <form class="d-flex justify-content-left" asp-controller="ProductGeneral" asp-action="ChangeRating">
                                    <input type="number" min="1" max="10"
                                           value="@Model.Ram.Product.Ratings.FirstOrDefault(x => x.User.UserName == User.Identity.Name)?.Value"
                                           aria-label="Search" name="rating" class="form-control" style="width: 100px" />
                                    <input type="hidden" value="@Model.Ram.Id" name="id" />
                                    <button class="btn btn-primary btn-md my-0 p" type="submit">
                                        Изменить оценку
                                    </button>
                                </form>
                            </p>
                        }

                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-deep-orange  btn-md my-0 p addToFavorite" id="@Model.Ram.Id" type="submit">
                            Добавить в избранное<i class="far fa-thumbs-up ml-1"></i>
                        </button>

                    }


                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>


        <p class="lead font-weight-bold">Технические характеристики</p>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Тип оперативной памяти</td>
                    <td>@Model.Ram.MemoryType.Type</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Общий обьем памяти</td>
                    <td>@Model.Ram.TotalMemory GB</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Напряжение питания</td>
                    <td>@Math.Round(Model.Ram.SupplyVoltage, 2) В</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Тактовая частота</td>
                    <td>@Model.Ram.Frequency МГц</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Количество контактов</td>
                    <td>@Model.Ram.ContactsNumber</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Пропускная способность</td>
                    <td>@Model.Ram.Throughput Мбайт/с</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <div class="row d-flex justify-content-center wow fadeIn">


            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Отзывы о товаре</h4>

            </div>


        </div>
        <hr>
            <div class="row d-flex justify-content-center wow fadeIn">


                <div class="text-center w-100">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h4 class="my-4 h4">Оставить отзыв</h4>
                        <form asp-controller="ProductGeneral" asp-action="AddReview" method="post">
                            <div class="md-form amber-textarea active-amber-textarea">
                                <i class="fas fa-pencil-alt prefix"></i>
                                <textarea name="text" id="form22" class="md-textarea form-control" rows="4"></textarea>
                                <label for="form22">Ваш текст</label>
                                <input type="hidden" name="id" value="@Model.Ram.Id"/>
                            </div>
                            <button class="btn btn-primary btn-md my-0" type="submit">
                                Оставить отзыв
                            </button>
                        </form>
                    }
                </div>


            </div>

        <hr>
        <div class="card-comments mb-3 wow fadeIn">
            <div class="card-header font-weight-bold">@Model.Ram.Product.GetCountReviews() comments</div>
            <div class="card-body">
                @foreach (var review in Model.Ram.Product.Reviews)
                {
                    if (review.ReviewVerified)
                    {
                        <div class="media d-block d-md-flex mt-4">
                              <img class="d-flex mb-3 mx-auto " style="width: 80px" src="@(review.User.UserImageUrl ?? "/userImages/user.png")" alt="Generic placeholder image">
                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                <h5 class="mt-0 font-weight-bold">
                                    @review.User.UserName
                                    <a href="" class="pull-right">
                                        <i class="fas fa-reply"></i>
                                    </a>
                                </h5>
                                @review.Text
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <hr>

        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Рекомендуемые товары</h4>

            </div>
            <!--Grid column-->

        </div>
        <section class="text-center mb-4">
            @foreach (var product in Model.PopularGoods)
            {
                <div class="card" style="width: 20%">

                    <!-- Card image -->
                    <img class="card-img-top" src="@product.Product.ImageUrl" alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h6 class="card-title">
                            <a>@product.Product.Name</a>
                        </h6>

                        <!-- Text -->
                        <p class="card-text">
                            Тип оперативной памяти: @product.MemoryType.Type, общей обьем: @product.TotalMemory, производитель: @product.Product.Manufacturer.Name
                            <h4 class="font-weight-bold red-text">
                                <strong>
                                    @Math.Round(product.Product.Price, 2)$
                                </strong>
                            </h4>

                            @if (product.Product.IsAvailable())
                            {
                            <p>В наличии</p>
                        }
                        else
                        {
                            <p>Нет в наличии</p>
                        }
                            </p>
                            <p>
                                <a href="/Ram/Info?id=@product.Product.Id">Подробнее...</a>
                            </p>
                            <a id="@product.Id" class="btn btn-red tocart">В корзину</a>
                        </div>
                    </div>
                }

        </section>


    </div>