@model WebApplication.ViewModels.AccountViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "_StartPage";
}



<div class="row">
    <div class="col-lg-4">
        <div class="profile-card-4 z-depth-3">
            <div>
                <div class="card-body text-center bg-primary rounded-top">

                    <img src="@(Model.User.UserImageUrl ?? "/userImages/user.png")" alt="user avatar" style="width: 50%;border-radius: 50%; margin: 20px;">



                    <h5 class="mb-1 text-white">@Model.User.Name @Model.User.Surname</h5>

                </div>
                <div class="card-body">
                    <ul class="list-group shadow-none">
                        <li class="list-group-item">
                            <div class="list-icon">
                                <i class="fa fa-phone-square"></i>
                            </div>
                            <div class="list-details">
                                <span>@Model.User.PhoneNumber</span>
                                <small>Номер телефона</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="list-details">
                                <span>@Model.User.Email</span>
                                <small>Email Address</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="list-details">
                                <span>www.example.com</span>
                                <small>Website Address</small>
                            </div>
                        </li>
                    </ul>
                    <div class="row text-center mt-4">
                        <div class="col p-2">
                            <h4 class="mb-1 line-height-5">@Model.User.Orders.Count()</h4>
                            <small class="mb-0 font-weight-bold">Оформлено заказов</small>
                        </div>
                        <div class="col p-2">
                            <h4 class="mb-1 line-height-5">@Model.User.Ratings.Count()</h4>
                            <small class="mb-0 font-weight-bold">Выставлено оценок товарам</small>
                        </div>
                        <div class="col p-2">
                            <h4 class="mb-1 line-height-5">@Model.User.Reviews.Count()</h4>
                            <small class="mb-0 font-weight-bold">Оставлено отзывов</small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                   
                    

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="z-depth-3">
            <div class="card-body">
                <ul class="nav nav-pills nav-pills-primary nav-justified">
                    <li class="nav-item">
                        <a href="#" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-target="#review_ratings" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Отзывы/Оценки</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-target="#orders" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Заказы</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-target="#favoriteproducts" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Любимые товары</span></a>
                    </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active show" id="profile">
                        <h5 class="mb-3">User Profile</h5>
                        <div class="row">
                            <form asp-controller="Account" method="post" asp-action="EditProfile" enctype="multipart/form-data" style="width: 100%;">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Имя</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" asp-for="User.Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Фамилия</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" asp-for="User.Surname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="email" asp-for="User.Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="file" asp-for="UploadedFile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Адрес</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" value="@Model.User.Address.Region" placeholder="Область" asp-for="User.Address.Region">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" value="@Model.User.Address.City" placeholder="Город" asp-for="User.Address.City">
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" value="@Model.User.Address.Street" placeholder="Улица" asp-for="User.Address.Street">
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" value="@Model.User.Address.HouseOrFlat" placeholder="Дом/Квартира" asp-for="User.Address.HouseOrFlat">
                                    </div>
                                </div>

                                <hr />
                                <h5 class="mb-3">Ссылки на соц. сети</h5>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">VK:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Telegram:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Instagram:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Twitter:</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <hr />
                                <h5 class="mb-3">Дополнительно</h5>
                                <input class="checkbox" checked="@Model.User.ReceiveProductNotifications" type="checkbox" asp-for="User.ReceiveProductNotifications">

                                <label class="col-lg-9 col-form-label form-control-label">Получать уведомления о выходе новых товаров на нашем сейте</label>
                                <br />
                                @if (Model.User.PhoneNumberConfirmed)
                                {
                                    <input class="checkbox" checked="@Model.User.TwoFactorEnabled" type="checkbox" asp-for="User.TwoFactorEnabled">
                                    <label class="col-lg-9 col-form-label form-control-label">Использовать двухфакторную аутентификацию при входе в систему (При авторизации будет отправлятся код на привязанный номер телефона)</label>
                                }

                                <hr />


                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Cancel">
                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </form>

                            <form asp-action="ForgotPassword" asp-controller="Account" style="width: 100%;">
                                <hr />
                                <h5 class="mb-3">Изменить пароль</h5>
                                <input type="submit" class="btn btn-primary" value="Сброс пароля">
                                <hr />
                            </form>
                            <hr />
                            <form style="width: 100%;">
                                <hr />
                                <h5 class="mb-3">Привязать телефон</h5>
                                <p>
                                    После успешной привязки телефона вам станет доступна функция двухфакторной аутентификации (в пункте настроек Дополнительно)
                                </p>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Номер телефона</label>
                                    <div class="col-lg-9">
                                        <input class="form-control phoneNumberText" type="text" value="@Model.User.PhoneNumber" placeholder="+375XXXXXXXXX">
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary phoneNumberButton" data-toggle="modal" data-target="#basicExampleModal">
                                    Привязать телефон
                                </button>

                                <hr />
                            </form>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="review_ratings">
                        <h5 class="mb-3">Ваши отзывы товарам</h5>
                        <div class="row">
                            <div class="card-body">
                                @foreach (var reivew in Model.User.Reviews)
                                {
                                    <div class="media d-block d-md-flex mt-4">
                                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                            <h5 class="mt-0 font-weight-bold">
                                                @reivew.User.UserName
                                                <a href="" class="pull-right">
                                                    <i class="fas fa-reply"></i>
                                                </a>
                                            </h5>
                                            @reivew.Text
                                        </div>
                                        <a class="link-default p-1" href="#">Удалить</a>
                                        <a class="link-default p-1" href="#">Изменить</a>
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                        <h5 class="mb-3">Ваши оценки товарам</h5>
                        <div class="row">
                            <div class="card-body">


                                <table class="w-100">
                                    @foreach (var rating in Model.User.Ratings)
                                    {
                                        <tr>
                                            <td><img src="@rating.Product.ImageUrl" class="p-2" style="width: 150px; float: left" /></td>
                                            <td>
                                                <h6>@rating.Product.Name</h6>
                                                <p>Цена: @rating.Product.Price, производитель: @rating.Product.Manufacturer.Name</p>
                                            </td>
                                            <td>
                                                <h6>Ваша оценка: <span class="badge purple mr-1"> 10 </span></h6>

                                            </td>
                                            <td>
                                                <a class="link-default p-1" href="#">Удалить</a>
                                                <a class="link-default p-1" href="#">Изменить</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="orders">
                        <h5 class="mb-3">Ваши заказы</h5>
                        <div class="row">
                            <div class="card-body">
                                <table class="w-100">
                                    <thead>
                                        <tr>
                                            <th>
                                                Id заказа
                                            </th>
                                            <th>
                                                Дата заказа
                                            </th>
                                            <th>
                                                Корзина
                                            </th>
                                            <th>
                                                Цена
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var oreder in Model.User.Orders)
                                        {
                                        <tr>
                                            <td>
                                                @oreder.Id
                                            </td>
                                            <td>
                                                @oreder.Date
                                            </td>
                                            <td>
                                                @foreach (var item in oreder.Cart.CartItems)
                                                {
                                                    <p>@item.Product.Name</p>
                                                }
                                            </td>
                                            <td>
                                                @oreder.Cart.FinalPrice
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="favoriteproducts">
                        <h5 class="mb-3">Ваши избранные товары</h5>
                        <div class="row">
                            <div class="card-body">


                                <table class="w-100">
                                    @foreach (var rating in Model.User.Ratings)
                                    {
                                        <tr>
                                            <td><img src="@rating.Product.ImageUrl" class="p-2" style="width: 150px; float: left" /></td>
                                            <td>
                                                <h6>@rating.Product.Name</h6>
                                                <p>
                                                    Цена: @rating.Product.Price, производитель: @rating.Product.Manufacturer.Name
                                                </p>
                                                <p>
                                                    Категория <span class="badge purple mr-2"> @rating.Product.Category.Name</span>
                                                </p>
                                                <p>
                                                    Дата выхода на рынок: @rating.Product.DateAdded.ToString("dd MM yyyy")
                                                </p>
                                            </td>
                                           
                                            <td>
                                                <a class="link-default p-1" href="#">Удалить из избранных</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Введите код</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Мы отправили код на введенный номер телефона. Введите данный код для подтверждения телефона.
                <form asp-action="CheckCode" asp-controller="Verification">
                    <label class="col-lg-3 col-form-label form-control-label">Code from sms:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="code">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

